@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* shared style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", serif;
}

.content-alignment {
    padding: 0 140px;
}

:root {
    --orange-color: #FEA301;
    --skyblue-color: #01ACFD;
    --skygreen-color: #05D4DF;
    --purple-color: #5D58EF;
    --description-color:#808080;
}
section{
    margin: 50px 0;
}

/* nav style */
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2% 0;
    align-items: center;
}

nav div ul {
    display: flex;
    gap: 5%;
    justify-content: center;
    list-style-type: none;
    font-size: 1.25rem;
    font-weight: 700;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 2rem;
    font-weight: 700;
}

.home {
    color: var(--orange-color);
}

.about {
    color: var(--skyblue-color);
}

.facilities {
    color: var(--skygreen-color);
}

.admission {
    color: var(--purple-color);
}

.btn {
    display: flex;
    justify-content: end;
}

.btn-common-style {
    padding: 10px 60px;
    color: white;
    border: none;
    border-radius: 12px;
    background-color: var(--orange-color);
    font-size: 1.25rem;
}
marquee{
    font-size: 1.25rem;
    font-weight: 700;
    padding: 20px;
}
/* banner style */
.banner{
    display: flex;
    align-items: center;
    gap: 50px;
}
.banner-info>h1{
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 70px;
}
.Empowering{
    color: var(--orange-color);
}
.title-vision{
    color: var(--skyblue-color);
}
.banner-info>p{
    font-size: 1.25rem;
    padding: 20px 0;
    width: 60%;
}
.enroll-btn{
    background: #000;
}
.banner-img{
    width: 45%;
}
.banner-img>img{
    width: 100%;
}

/* main style */
main{
    background-image: url(assets/bg.png);
}
.standard-curriculumn{
    text-align: center;
}
.standard-curriculumn h1{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 50px;
}
.curriculum-container{
    display: flex;
    gap: 30px;
}
.curriculum-container>div{
    padding: 52px 40px;
    border-radius: 19px;
    border: 1px solid #fff4dc;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.kinder-div{
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}
.elementary-div{
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF
}
.middle-div{
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}
.curriculum-container>div>h2{
    margin: 32px 0;
}
.curriculum-container>div>p{
    padding-bottom: 32px;
    color: var(--description-color);
}
.curriculum-container>div>a{
    text-decoration: none;
    font-weight: 700;
}
.kinder-div>a{
    color: var(--skyblue-color);
}
.elementary-div>a{
    color: var(--orange-color);
}
.middle-div>a{
    color: var(--purple-color);
}




/* Footer Style */
footer {
    background-color: var(--skyblue-color);
    color: white;
    padding: 120px 150px 175px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
}

.footer-logo-container {
    display: flex;
    gap: 20px;
}

.footer-logo-container>img {
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 35px;
}

.footer-about>h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.footer-about>ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.25rem;
    font-weight: 500;
    list-style-type: none;
}

.get-in-touch {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.get-in-touch>h3 {
    font-size: 1.5rem;
    font-weight: 700;
}