@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* shared style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", serif;
}

.content-alignment {
    padding: 0 140px;
}

:root {
    --orange-color: #FEA301;
    --skyblue-color: #01ACFD;
    --skygreen-color: #05D4DF;
    --purple-color: #5D58EF;
    --description-color: #808080;
}

section {
    margin: 50px 0;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 50px;
}

/* nav style */
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2% 0;
    align-items: center;
}

nav div ul {
    display: flex;
    gap: 5%;
    justify-content: center;
    list-style-type: none;
    font-size: 1.25rem;
    font-weight: 700;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 2rem;
    font-weight: 700;
}

.home>a {
    color: var(--orange-color);
    text-decoration: none;
}

.about>a {
    color: var(--skyblue-color);
    text-decoration: none;
}

.facilities>a {
    color: var(--skygreen-color);
    text-decoration: none;
}

.admission>a {
    color: var(--purple-color);
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: end;
}

.btn-common-style {
    padding: 10px 60px;
    color: white;
    border: none;
    border-radius: 12px;
    background-color: var(--orange-color);
    font-size: 1.25rem;
}

marquee {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 20px;
}

/* banner style */
.banner {
    display: flex;
    align-items: center;
    gap: 50px;
}

.banner-info>h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 70px;
}

.Empowering {
    color: var(--orange-color);
}

.title-vision {
    color: var(--skyblue-color);
}

.banner-info>p {
    font-size: 1.25rem;
    padding: 20px 0;
    width: 60%;
}

.enroll-btn {
    background: #000;
}

.banner-img {
    width: 45%;
}

.banner-img>img {
    width: 100%;
}

/* main style */
main {
    background-image: url(assets/bg.png);
}

.standard-curriculumn {
    text-align: center;
}

.curriculum-container {
    display: flex;
    gap: 30px;
}

.curriculum-container>div {
    padding: 52px 40px;
    border-radius: 19px;
    border: 1px solid #fff4dc;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.kinder-div {
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.elementary-div {
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF
}

.middle-div {
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.curriculum-container>div>h2 {
    margin: 32px 0;
}

.curriculum-container>div>p {
    padding-bottom: 32px;
    color: var(--description-color);
}

.curriculum-container>div>a {
    text-decoration: none;
    font-weight: 700;
}

.kinder-div>a {
    color: var(--skyblue-color);
}

.elementary-div>a {
    color: var(--orange-color);
}

.middle-div>a {
    color: var(--purple-color);
}

.curriculum-navigator>ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style-type: none;
    margin: 50px 0;
    font-size: 1.25rem;
    font-weight: 900;
}

.curriculum-navigator>ul>li {
    background-color: var(--orange-color);
    width: 20px;
    height: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.curriculum-navigator>ul>li>a {
    color: white;
}

/* our stories style */
.our-stories-title {
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

.our-stories {
    background-image: url(assets/bg.png), linear-gradient(0deg, rgba(247, 167, 31, 0.404), rgba(231, 231, 231, 0.068));
    background-position: center;
    margin-bottom: 0;
    padding-bottom: 50px;
}

.view-btn {
    background-color: #000;
}

.view-all-btn {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 70px 0px 0px 0px;
}

.sotries-card-container {
    display: flex;
    gap: 20px;
}

.stories-small-cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.stories-big-cart,
.stories-small-cart>div {
    background-color: white;
    border-radius: 16px;
}

.stories-small-cart div>img,
.stories-big-cart>img {
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.card-info {
    padding: 34px;
    position: relative
}

.stories-big-cart>div>h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 50px;
}

.stories-big-cart>div>p {
    color: var(--description-color);
}

.cart-date {
    border-radius: 48px;
    padding: 14.38px 18.876px 15.339px 19.174px;
    color: white;
    font-weight: 500;
    position: absolute;
    margin-top: -65px;
    display: inline-block;
}

.cart-sky {
    background-color: #3CD8E8;
}

.cart-green {
    background-color: #95B226;
}

.cart-purple {
    background-color: #5D58F0;
}

/* Footer Style */
footer {
    background-color: var(--skyblue-color);
    color: white;
    padding: 120px 150px 175px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
}

.footer-logo-container {
    display: flex;
    gap: 20px;
}

.footer-logo-container>img {
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 35px;
}

.footer-about>h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.footer-about>ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.25rem;
    font-weight: 500;
    list-style-type: none;
}

.get-in-touch {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.get-in-touch>h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

/* responsive design for mobile */
@media screen and (max-width: 576px) {
    .content-alignment {
        padding: 10px;
    }

    .content-alignment {
        padding: 0;
    }

    nav div ul,
    .btn,
    .curriculum-navigator,
    .stories-big-cart,
    .logo-container>h1 {
        display: none;
    }
    nav{
        border-bottom: 1px solid var(--orange-color);
        padding-bottom: 5px;
    }

    .banner {
        flex-direction: column-reverse;
        ;
        text-align: center;
    }

    .banner-info h1 {
        font-size: 2.5rem;
        line-height: 45px;
    }

    .banner-info p {
        width: 100%;
    }

    .banner-img {
        width: 95vw;
    }

    .curriculum-container,
    .sotries-card-container {
        flex-direction: column;
    }

    .stories-small-cart {
        display: grid;
        grid-template-columns: calc((100% - 20px) / 2) calc((100% - 20px) / 2);
        column-gap: 20px;
    }

    .our-stories, 
    .standard-curriculumn{
        padding: 0 10px;
    }

    .standard-title {
        font-size: 2.25rem;
    }

    .cart-date {
        padding: 5px 2px;
        font-size: 0.9rem;
        margin-top: -53px;
    }

    .card-info h2 {
        font-size: 1rem;
    }

    .view-btn {
        margin-bottom: 20px;
    }

    footer {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 50px 10px;
    }
}